<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Free Angular tutorials">
	<meta name="keywords" content="HTML,CSS,JavaScript, AngularJS, Bootstrap,MVC">
	<meta name="author" content="Guillermo David Paredes Torrez">
	<title>Angular JS</title>
	<link rel="stylesheet" href="libs/bootstrap.css.map">
	<link rel="stylesheet" href="libs/bootstrap.css">
	
	<link rel="stylesheet" href="assets/css/style.css">
	<script src="libs/angular.min.js"></script>
	<script src="assets/js/filtros.js"></script>
	<script src="assets/json/angular-locale_es-es.js"></script>
</head>
<body ng-app="myApp">
    <div  class="container" ng-controller="ControladorFiltros">
    <h1>Filtros Nativos de AngularJS</h1>
    <hr>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
          <input type="text" class="form-control" placeholder="Buscare Empleado" ng-model="buscar">
        </div>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>
                <a href="" ng-click="ordenarPor('nombre')">Nombre</a>
                <span class="caret" style="cursor:pointer" ng-click="ordenarPor('-nombre')"></span>
            </th>
            <th>  
                <a href="" ng-click="ordenarPor('paterno')">Apellido Paterno</a>
                <span class="caret" style="cursor:pointer" ng-click="ordenarPor('-paterno')"></span>
            </th>
            <th> 
                <a href="" ng-click="ordenarPor('materno')">Apellido Materno</a>
                <span class="caret" style="cursor:pointer" ng-click="ordenarPor('-materno')"></span>
            </th>
            <th> 
                <a href="" ng-click="ordenarPor('primerDia')">Primer dia de trabajo</a>
                <span class="caret" style="cursor:pointer" ng-click="ordenarPor('-primerDia')"></span>
            </th>
            <th> 
                <a href="" ng-click="ordenarPor('telefono')">Telefono</a>
                <span class="caret" style="cursor:pointer" ng-click="ordenarPor('-telefono')"></span>
            </th>
            <th> 
                <a href="" ng-click="ordenarPor('salario')">Salario</a>
                <span class="caret" style="cursor:pointer" ng-click="ordenarPor('-salario')"></span>
            </th>
            <th> 
                <a href="" ng-click="ordenarPor('bono')">Bono</a>
                <span class="caret" style="cursor:pointer" ng-click="ordenarPor('-bono')"></span>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="empleado in empleados | orderBy:ordenSeleccionado | filter:buscar">
            <td>{{empleado.nombre}}</td>
            <td>{{empleado.paterno | uppercase}}</td>
            <td>{{empleado.materno | lowercase}}</td>
            <td>{{empleado.primerDia | date:'fullDate'}} a las {{empleado.primerDia | date: 'h:mma'}}</td>
            <td>{{empleado.telefono}}</td>
            <td>{{empleado.salario | currency}}</td>
            <td>% {{empleado.bono | number:2}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html> 
   

  