<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Free Angular tutorials">
	<meta name="keywords" content="HTML,CSS,JavaScript, AngularJS, Bootstrap, MVC">
	<meta name="author" content="Guillermo David Paredes Torrez">
	<title>Angular JS</title>
	<link rel="stylesheet" href="libs/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<script src="libs/angular.min.js"></script>
</head>
<body>
    <div ng-app>
        <label for="">Nombre :</label>
        <input type="text" placeholder="Escribe tu Nombre Aqui" ng-model="nombre" />
        <input type="text" placeholder="Escribe el tipo de Color" ng-model="color" />
        <hr>
        <h2 class="text-{{color}}">Hola ! {{nombre }}</h2>
	</div>
</body>
</html> 